# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
*.pem

# local business/docs source assets
/docs/branding/*.xlsx
/docs/branding/*.png
/docs/branding/*.jpg
/docs/branding/*.jpeg
